html {
    background-color:black;
}


h1 {
    color:white;
    text-transform: capitalize;
    text-align: center;
}

p {
    color: white;
}

img {
    border: 5px solid white;
    width: 60%;
}

div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}